/*
COLOR PALATTE
#00120B - Dark jungle green
#D8E4FF - Periwinkle crayola
#96ADC8 - Cadet blue crayola
#D5A021 - Goldenrod
#F5F5F5 - cultured
*/



/*Global styles
----------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* Box model fix */

body{
	background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(254,201,39,1) 15%, rgba(31,77,4,1) 100%);
	margin:  0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
img{
width: 300px;
}
a {
	color:  #D5A021;
}
a:hover{
	text-decoration: none;
}
h1{
	font-size:  100px;
	line-height: 1;
}
h2{
	font-size: 45px;

}
h1,h2{
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}

.content-wrap{
	max-width:  800px;
	width:  85%;
	margin: 0 auto;
	padding: 60px 0;
}
h3 {
	margin-bottom: 0;
}
.item-details h3 + p {
	font-style:  italic;
}
.item-details h3 ~ p {
	margin: 0;
}
.divider > section{
	border-bottom: 1px dashed #00120B;
	padding: 25px 0;
}
.divider > section:last-of-type {
	border-bottom: none;
}

/* Navigation menu
----------------------------------- */
.navbar_menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar_menu li {
    display: inline-block;
}

.navbar_menu .menu_link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar_menu .menu_link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

#navbar_list {
    background: #1B2021;
}

.nav_hyperlink {
	color: white;
}

.navbar_list_item {
    margin: 1rem;
}


/* profile
---------------------------------- */
#profile{

}

/*Projects
----------------------------------*/

#projects .button {
	color: #F5F5F5;
	background: #00120B;
	padding: 8px;
	border-radius: 4px;
	display:  inline-block;
}
#projects .button:hover{

	background: rgba(0, 18, 11, 70%);
}
.project-item {
	overflow: hidden;
}
.project-item h3 {
	margin-top: 0;
}


/*Work experience
----------------------------------*/
#work-experience a{
	color: #00120B;
}

/*Education
----------------------------------*/
#Education {
	padding-bottom: 100px;
}
#Education p {
	width:  60%;
}

/*Contact Info
----------------------------------*/

#contact {
	color: #F5F5F5;
}

.contact-list {
	list-style-type: none;
	padding: 0;
}
.contact-list a  {
	padding: 15px;
	display: inline-block;
}

/* Active section 
--------------------------------- */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

section.active {
	background: rgb(6,194,238);
background: linear-gradient(0deg, rgba(6,194,238,1) 0%, rgba(149,218,217,1) 100%);
}

.active-nav {
    color: red;
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

/* Container style
--------------------------------- */
.container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


/* Background circles
---------------------------------- */
section:nth-of-type(odd) .container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/*Responsive
----------------------------------*/
@media screen and (min-width: 750px){
	header, footer {
		text-align: center;
	}
	.project-item img {
		float:  left;
		margin-right: 5px;
	}
	.job-item{
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;  /* gutter space */
	}
	.contact-list{
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width: 749px){
	h1{
		font-size:  75px;
		line-height: 0.9;
		margin-bottom: 20px;
	}
	h2{
		line-height: 1;
	}
	.contact-list a{
		padding: 5px;
	}
}
